In [88]:
import pandas as pd
import numpy as np
import requests
import json
import matplotlib.pyplot as plt
%matplotlib inline 
from IPython.display import clear_output

In [89]:
#leitura do arquivo csv 
df = pd.read_csv('twitter-archive-enhanced.csv')

# Avaliação e Arrumação

## 1. Avaliação do arquivo CSV:

* existe muitos elementos na coluna nome nulos, só que preenchidos como NONE.
* a coluna timestamp encontr-ase como string quando deveria ser DATE.

## 2. Arrumação do arquivo CSV:

* acredito que as colunas in_reply_to_status_id, in_reply_to_user_id, retweeted_status_id, retweeted_status_user_id,   retweeted_status_timestamp são desnecessárias a analise.

In [90]:
df.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

In [91]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [92]:
df.describe()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,retweeted_status_id,retweeted_status_user_id,rating_numerator,rating_denominator
count,2.356000e+03,7.800000e+01,7.800000e+01,1.810000e+02,1.810000e+02,2356.000000,2356.000000
mean,7.427716e+17,7.455079e+17,2.014171e+16,7.720400e+17,1.241698e+16,13.126486,10.455433
std,6.856705e+16,7.582492e+16,1.252797e+17,6.236928e+16,9.599254e+16,45.876648,6.745237
min,6.660209e+17,6.658147e+17,1.185634e+07,6.661041e+17,7.832140e+05,0.000000,0.000000
25%,6.783989e+17,6.757419e+17,3.086374e+08,7.186315e+17,4.196984e+09,10.000000,10.000000
50%,7.196279e+17,7.038708e+17,4.196984e+09,7.804657e+17,4.196984e+09,11.000000,10.000000
75%,7.993373e+17,8.257804e+17,4.196984e+09,8.203146e+17,4.196984e+09,12.000000,10.000000
max,8.924206e+17,8.862664e+17,8.405479e+17,8.874740e+17,7.874618e+17,1776.000000,170.000000

In [93]:
#verificar dados duplicados
df.duplicated()

0       False
1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
        ...
2326    False
2327    False
2328    False
2329    False
2330    False
2331    False
2332    False
2333    False
2334    False
2335    False
2336    False
2337    False
2338    False
2339    False
2340    False
2341    False
2342    False
2343    False
2344    False
2345    False
2346    False
2347    False
2348    False
2349    False
2350    False
2351    False
2352    False
2353    False
2354    False
2355    False
Length: 2356, dtype: bool

In [94]:
#verificar dados nulos
df.isnull()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,False,True,True,False,False,False,True,True,True,False,False,False,False,False,False,False,False
1,False,True,True,False,False,False,True,True,True,False,False,False,False,False,False,False,False
2,False,True,True,False,False,False,True,True,True,False,False,False,False,False,False,False,False
3,False,True,True,False,False,False,True,True,True,False,False,False,False,False,False,False,False
4,False,True,True,False,False,False,True,True,True,False,False,False,False,False,False,False,False
5,False,True,True,False,False,False,True,True,True,False,False,False,False,False,False,False,False
6,False,True,True,False,False,False,True,True,True,False,False,False,False,False,False,False,False
7,False,True,True,False,False,False,True,True,True,False,False,False,False,False,False,False,False
8,False,True,True,False,False,False,True,True,True,False,False,False,False,False,False,False,False
9,False,True,True,False,False,False,True,True,True,False,False,False,False,False,False,False,False
10,False,True,True,False,False,False,True,True,True,False,False,False,False,False,False,False,False
11,False,True,True,False,False,False,True,True,True,False,False,False,False,False,False,False,False
12,False,True,True,False,False,False,True,True,True,False,False,False,False,False,False,False,False
13,False,True,True,False,False,False,True,True,True,False,False,False,False,False,False,False,False
14,False,True,True,False,False,False,True,True,True,False,False,False,False,False,False,False,False
15,False,True,True,False,False,False,True,True,True,False,False,False,False,False,False,False,False
16,False,True,True,False,False,False,True,True,True,False,False,False,False,False,False,False,False
17,False,True,True,False,False,False,True,True,True,False,False,False,False,False,False,False,False
18,False,True,True,False,False,False,True,True,True,False,False,False,False,False,False,False,False
19,False,True,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False
20,False,True,True,False,False,False,True,True,True,False,False,False,False,False,False,False,False
21,False,True,True,False,False,False,True,True,True,False,False,False,False,False,False,False,False
22,False,True,True,False,False,False,True,True,True,False,False,False,False,False,False,False,False
23,False,True,True,False,False,False,True,True,True,False,False,False,False,False,False,False,False
24,False,True,True,False,False,False,True,True,True,False,False,False,False,False,False,False,False
25,False,True,True,False,False,False,True,True,True,False,False,False,False,False,False,False,False
26,False,True,True,False,False,False,True,True,True,False,False,False,False,False,False,False,False
27,False,True,True,False,False,False,True,True,True,False,False,False,False,False,False,False,False
28,False,True,True,False,False,False,True,True,True,False,False,False,False,False,False,False,False
29,False,True,True,False,False,False,True,True,True,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2326,False,True,True,False,False,False,True,True,True,False,False,False,False,False,False,False,False
2327,False,True,True,False,False,False,True,True,True,False,False,False,False,False,False,False,False
2328,False,True,True,False,False,False,True,True,True,False,False,False,False,False,False,False,False
2329,False,True,True,False,False,False,True,True,True,False,False,False,False,False,False,False,False
2330,False,True,True,False,False,False,True,True,True,False,False,False,False,False,False,False,False
2331,False,True,True,False,False,False,True,True,True,False,False,False,False,False,False,False,False
2332,False,True,True,False,False,False,True,True,True,False,False,False,False,False,False,False,False
2333,False,True,True,False,False,False,True,True,True,False,False,False,False,False,False,False,False
2334,False,True,True,False,False,False,True,True,True,False,False,False,False,False,False,False,False
2335,False,True,True,False,False,False,True,True,True,False,False,False,False,False,False,False,False
2336,False,True,True,False,False,False,True,True,True,False,False,False,False,False,False,False,False
2337,False,True,True,False,False,False,True,True,True,False,False,False,False,False,False,False,False
2338,False,True,True,False,False,False,True,True,True,False,False,False,False,False,False,False,False
2339,False,True,True,False,False,False,True,True,True,False,False,False,False,False,False,False,False
2340,False,True,True,False,False,False,True,True,True,False,False,False,False,False,False,False,False
2341,False,True,True,False,False,False,True,True,True,False,False,False,False,False,False,False,False
2342,False,True,True,False,False,False,True,True,True,False,False,False,False,False,False,False,False
2343,False,True,True,False,False,False,True,True,True,False,False,False,False,False,False,False,False
2344,False,True,True,False,False,False,True,True,True,False,False,False,False,False,False,False,False
2345,False,True,True,False,False,False,True,True,True,False,False,False,False,False,False,False,False
2346,False,True,True,False,False,False,True,True,True,False,False,False,False,False,False,False,False
2347,False,True,True,False,False,False,True,True,True,False,False,False,False,False,False,False,False
2348,False,True,True,False,False,False,True,True,True,False,False,False,False,False,False,False,False
2349,False,True,True,False,False,False,True,True,True,False,False,False,False,False,False,False,False
2350,False,True,True,False,False,False,True,True,True,False,False,False,False,False,False,False,False
2351,False,True,True,False,False,False,True,True,True,False,False,False,False,False,False,False,False
2352,False,True,True,False,False,False,True,True,True,False,False,False,False,False,False,False,False
2353,False,True,True,False,False,False,True,True,True,False,False,False,False,False,False,False,False
2354,False,True,True,False,False,False,True,True,True,False,False,False,False,False,False,False,False
2355,False,True,True,False,False,False,True,True,True,False,False,False,False,False,False,False,False

In [95]:
#verificar a soma dos dados nulos
df.isnull().sum()

tweet_id                         0
in_reply_to_status_id         2278
in_reply_to_user_id           2278
timestamp                        0
source                           0
text                             0
retweeted_status_id           2175
retweeted_status_user_id      2175
retweeted_status_timestamp    2175
expanded_urls                   59
rating_numerator                 0
rating_denominator               0
name                             0
doggo                            0
floofer                          0
pupper                           0
puppo                            0
dtype: int64

In [96]:
#contagem dos nomes
df['name'].value_counts()

None              745
a                  55
Charlie            12
Oliver             11
Cooper             11
Lucy               11
Lola               10
Penny              10
Tucker             10
Winston             9
Bo                  9
Sadie               8
the                 8
Bailey              7
Daisy               7
an                  7
Buddy               7
Toby                7
Koda                6
Jack                6
Milo                6
Dave                6
Bella               6
Jax                 6
Oscar               6
Rusty               6
Scout               6
Leo                 6
Stanley             6
Louis               5
                 ...
Eleanor             1
Timmy               1
Miguel              1
Amber               1
Lenox               1
Gin                 1
Lucia               1
Steve               1
Goose               1
Jameson             1
Lilah               1
Mo                  1
Brownie             1
Bayley              1
Randall             1
Mona                1
Rambo               1
Michelangelope      1
Zeek                1
Suki                1
Brat                1
Chesterson          1
Lipton              1
Blipson             1
Kendall             1
Harrison            1
Aiden               1
Swagger             1
JD                  1
Brutus              1
Name: name, Length: 957, dtype: int64

In [97]:
df['source'].value_counts()

<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>     2221
<a href="http://vine.co" rel="nofollow">Vine - Make a Scene</a>                          91
<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>                       33
<a href="https://about.twitter.com/products/tweetdeck" rel="nofollow">TweetDeck</a>      11
Name: source, dtype: int64

## 1. Avaliação do arquivo tsv:

* o arquivo csv mostra 2175 tweets, só que o arquivo tsv nos mostra 2075 imagens dos cães, logo, faltam 100 arquivos de imagens

## 2. Arrumação do arquivo tsv:

* acredito que não se faz necessário três colunas para indicar a raça como p1 que indica nome, p1_conf o código da raça, p1_dog que indica se verdadeiro ou falso. Logo, bastava duas colunas para verificar.

In [98]:
#função para baixar arquivo da página url
def get_file(url):
    name = url.split('/')[-1]
    response = requests.get(url)
    if response.status_code == 200:
        try:
            with open(name, mode='wb') as file:
                file.write(response.content)
            print('Arquivo {} download realizado com sucesso!'.format(name))
        except IOError as err:
            name = ""
            print("Erro de I/O: {}".format(err))
    else:
        name = ""
        print('URL inválida.')
    return name

In [99]:
#baixando arquivo html
image_url= 'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'
name = get_file(image_url)

Arquivo image-predictions.tsv download realizado com sucesso!

In [100]:
#leitura do aquivo tsv
df_im = pd.read_csv(name, delimiter = '\t')

In [101]:
df_im.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

In [102]:
df_im.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
tweet_id    2075 non-null int64
jpg_url     2075 non-null object
img_num     2075 non-null int64
p1          2075 non-null object
p1_conf     2075 non-null float64
p1_dog      2075 non-null bool
p2          2075 non-null object
p2_conf     2075 non-null float64
p2_dog      2075 non-null bool
p3          2075 non-null object
p3_conf     2075 non-null float64
p3_dog      2075 non-null bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [103]:
df_im.describe()

           tweet_id      img_num      p1_conf       p2_conf       p3_conf
count  2.075000e+03  2075.000000  2075.000000  2.075000e+03  2.075000e+03
mean   7.384514e+17     1.203855     0.594548  1.345886e-01  6.032417e-02
std    6.785203e+16     0.561875     0.271174  1.006657e-01  5.090593e-02
min    6.660209e+17     1.000000     0.044333  1.011300e-08  1.740170e-10
25%    6.764835e+17     1.000000     0.364412  5.388625e-02  1.622240e-02
50%    7.119988e+17     1.000000     0.588230  1.181810e-01  4.944380e-02
75%    7.932034e+17     1.000000     0.843855  1.955655e-01  9.180755e-02
max    8.924206e+17     4.000000     1.000000  4.880140e-01  2.734190e-01

In [104]:
#contagem dos nomes das raças existentes na tabela
df_im['p1'].value_counts()

golden_retriever             150
Labrador_retriever           100
Pembroke                      89
Chihuahua                     83
pug                           57
chow                          44
Samoyed                       43
toy_poodle                    39
Pomeranian                    38
malamute                      30
cocker_spaniel                30
French_bulldog                26
Chesapeake_Bay_retriever      23
miniature_pinscher            23
seat_belt                     22
Staffordshire_bullterrier     20
German_shepherd               20
Siberian_husky                20
web_site                      19
Cardigan                      19
Shetland_sheepdog             18
Eskimo_dog                    18
teddy                         18
beagle                        18
Maltese_dog                   18
Rottweiler                    17
Shih-Tzu                      17
Lakeland_terrier              17
kuvasz                        16
Italian_greyhound             16
                            ...
sandbar                        1
clog                           1
EntleBucher                    1
coral_reef                     1
slug                           1
convertible                    1
standard_schnauzer             1
leaf_beetle                    1
hand_blower                    1
stove                          1
candle                         1
pot                            1
bald_eagle                     1
bighorn                        1
grille                         1
zebra                          1
bearskin                       1
beaver                         1
restaurant                     1
American_black_bear            1
fire_engine                    1
padlock                        1
mortarboard                    1
bannister                      1
bonnet                         1
marmot                         1
sunglasses                     1
cliff                          1
lorikeet                       1
pitcher                        1
Name: p1, Length: 378, dtype: int64

In [105]:
#leitura dos dados json dos tweets a partir API
import tweepy
consumer_key = 'YOUR CONSUMER KEY'
consumer_secret = 'YOUR CONSUMER SECRET'
access_token = 'YOUR ACCESS TOKEN'
access_secret = 'YOUR ACCESS SECRET'

auth = tweepy.OAuthHandler('0ET3LhnJt11VytU68RzKB9yXN', 'dycPKdH5ai6xOQ1QB5EbksDtAXuY3G6n6Jsb34hlxEkMT5kLsP')
auth.set_access_token('1470627588-374awz7oLdw7hwlYBErHAIyIBr5achrOcUkgy7q', '2CCMOkUfGwKZUPCVNLqfCqGiPRqfDpSaVVntT4Q4JgLin')

api = tweepy.API(auth)

In [106]:
#baixando os arquivos json dos tweets e verificação dos erros
tweet_dog = 'tweet_json.txt'

ids = df.tweet_id.values
errors = []

try:
    with open(tweet_dog, 'w') as file:
        for i, id in enumerate(ids):
            clear_output()
            print('Progresso: {:.2f}%\nErros: {}'.format(float((i+1)*100/len(ids)), len(errors)))
            try:
                tweet = api.get_status(id, tweet_mode='extended')
                file.write(json.dumps(tweet._json))
                if i < len(ids) - 1:
                    file.write('\n')
            except tweepy.TweepError:
                errors.append(id)
    clear_output()
    print('Arquivo {} gravado com sucesso!'.format(tweet_dog))
except IOError as err:
    print("Erro de I/O: {}".format(err))

if(len(errors)) > 0:
    error_json_file = 'id_json_errors.txt'
    print('\nErro obtendo id\'s: {}'.format(errors))
    try:
        with open(error_json_file, 'w') as file:
            for id in errors:
                file.write(str(id) + '\n')
            print('\nArquivo {} gravado com sucesso!'.format(error_json_file))
    except IOError as err:
        print("\nErro de I/O: {}".format(err))

Arquivo tweet_json.txt gravado com sucesso!

Erro obtendo id's: [888202515573088257, 873697596434513921, 872668790621863937, 869988702071779329, 866816280283807744, 861769973181624320, 845459076796616705, 842892208864923648, 837012587749474308, 827228250799742977, 812747805718642688, 802247111496568832, 775096608509886464, 770743923962707968, 758740312047005698, 758474966123810816, 758467244762497024, 758405701903519748, 758355060040593408, 758099635764359168, 758041019896193024, 757741869644341248, 757729163776290825, 757725642876129280, 757611664640446465, 757597904299253760, 757596066325864448, 757400162377592832, 757393109802180609, 757354760399941633, 756998049151549440, 756939218950160384, 756651752796094464, 756526248105566208, 756303284449767430, 756288534030475264, 756275833623502848, 755955933503782912, 755206590534418437, 755110668769038337, 754874841593970688, 754856583969079297, 754747087846248448, 754482103782404096, 754449512966619136, 754120377874386944, 754011816964026368, 753655901052166144, 753420520834629632, 753398408988139520, 753375668877008896, 753298634498793472, 753294487569522689, 753039830821511168, 753026973505581056, 752932432744185856, 752917284578922496, 752701944171524096, 752682090207055872, 752660715232722944, 752568224206688256, 752519690950500352, 752334515931054080, 752309394570878976, 752173152931807232, 751950017322246144, 751937170840121344, 751830394383790080, 751793661361422336, 751598357617971201, 751583847268179968, 751538714308972544, 751456908746354688, 751251247299190784, 751205363882532864, 751132876104687617, 750868782890057730, 750719632563142656, 750506206503038976, 750429297815552001, 750383411068534784, 750381685133418496, 750147208377409536, 750132105863102464, 750117059602808832, 750101899009982464, 750086836815486976, 750071704093859840, 750056684286914561, 750041628174217216, 750026558547456000, 750011400160841729, 749996283729883136, 749981277374128128, 749774190421639168, 749417653287129088, 749403093750648834, 749395845976588288, 749317047558017024, 749075273010798592, 749064354620928000, 749036806121881602, 748977405889503236, 748932637671223296, 748705597323898880, 748699167502000129, 748692773788876800, 748575535303884801, 748568946752774144, 748346686624440324, 748337862848962560, 748324050481647620, 748307329658011649, 748220828303695873, 747963614829678593, 747933425676525569, 747885874273214464, 747844099428986880, 747816857231626240, 747651430853525504, 747648653817413632, 747600769478692864, 747594051852075008, 747512671126323200, 747461612269887489, 747439450712596480, 747242308580548608, 747219827526344708, 747204161125646336, 747103485104099331, 746906459439529985, 746872823977771008, 746818907684614144, 746790600704425984, 746757706116112384, 746726898085036033, 746542875601690625, 746521445350707200, 746507379341139972, 746369468511756288, 746131877086527488, 746056683365994496, 745789745784041472, 745712589599014916, 745433870967832576, 745422732645535745, 745314880350101504, 745074613265149952, 745057283344719872, 744995568523612160, 744971049620602880, 744709971296780288, 744334592493166593, 744234799360020481, 744223424764059648, 743980027717509120, 743895849529389061, 743835915802583040, 743609206067040256, 743595368194129920, 743545585370791937, 743510151680958465, 743253157753532416, 743222593470234624, 743210557239623680, 742534281772302336, 742528092657332225, 742465774154047488, 742423170473463808, 742385895052087300, 742161199639494656, 742150209887731712, 741793263812808706, 741743634094141440, 741438259667034112, 741303864243200000, 741099773336379392, 741067306818797568, 740995100998766593, 740711788199743490, 740699697422163968, 740676976021798912, 740373189193256964, 740365076218183684, 740359016048689152, 740214038584557568, 739979191639244800, 739932936087216128, 739844404073074688, 739623569819336705, 739606147276148736, 739544079319588864, 739485634323156992, 739238157791694849, 738891149612572673, 738885046782832640, 738883359779196928, 738537504001953792, 738402415918125056, 738184450748633089, 738166403467907072, 738156290900254721, 737826014890496000, 737800304142471168, 737678689543020544, 737445876994609152, 737322739594330112, 737310737551491075, 736736130620620800, 736392552031657984, 736365877722001409, 736225175608430592, 736010884653420544, 735991953473572864, 735648611367784448, 735635087207878657, 735274964362878976, 735256018284875776, 735137028879360001, 734912297295085568, 734787690684657664, 734776360183431168, 734559631394082816, 733828123016450049, 733822306246479872, 733482008106668032, 733460102733135873, 733109485275860992, 732732193018155009, 732726085725589504, 732585889486888962, 732375214819057664, 732005617171337216, 731285275100512256, 731156023742988288, 730924654643314689, 730573383004487680, 730427201120833536, 730211855403241472, 730196704625098752, 729854734790754305, 729838605770891264, 729823566028484608, 729463711119904772, 729113531270991872, 728986383096946689, 728760639972315136, 728751179681943552, 728653952833728512, 728409960103686147, 728387165835677696, 728046963732717569, 728035342121635841, 728015554473250816, 727685679342333952, 727644517743104000, 727524757080539137, 727314416056803329, 727286334147182592, 727175381690781696, 727155742655025152, 726935089318363137, 726887082820554753, 726828223124897792, 726224900189511680, 725842289046749185, 725786712245440512, 725729321944506368, 725458796924002305, 724983749226668032, 724771698126512129, 724405726123311104, 724049859469295616, 724046343203856385, 724004602748780546, 723912936180330496, 723688335806480385, 723673163800948736, 722974582966214656, 722613351520608256, 721503162398597120, 721001180231503872, 720785406564900865, 720775346191278080, 720415127506415616, 720389942216527872, 720340705894408192, 720059472081784833, 720043174954147842, 719991154352222208, 719704490224398336, 719551379208073216, 719367763014393856, 719339463458033665, 719332531645071360, 718971898235854848, 718939241951195136, 718631497683582976, 718613305783398402, 718540630683709445, 718460005985447936, 718454725339934721, 718246886998687744, 718234618122661888, 717841801130979328, 717790033953034240, 717537687239008257, 717428917016076293, 717421804990701568, 717047459982213120, 717009362452090881, 716802964044845056, 716791146589110272, 716730379797970944, 716447146686459905, 716439118184652801, 716285507865542656, 716080869887381504, 715928423106027520, 715758151270801409, 715733265223708672, 715704790270025728, 715696743237730304, 715680795826982913, 715360349751484417, 715342466308784130, 715220193576927233, 715200624753819648, 715009755312439296, 714982300363173890, 714962719905021952, 714957620017307648, 714631576617938945, 714606013974974464, 714485234495041536, 714258258790387713, 714251586676113411, 714214115368108032, 714141408463036416, 713919462244790272, 713909862279876608, 713900603437621249, 713761197720473600, 713411074226274305, 713177543487135744, 713175907180089344, 712809025985978368, 712717840512598017, 712668654853337088, 712438159032893441, 712309440758808576, 712097430750289920, 712092745624633345, 712085617388212225, 712065007010385924, 711998809858043904, 711968124745228288, 711743778164514816, 711732680602345472, 711694788429553666, 711652651650457602, 711363825979756544, 711306686208872448, 711008018775851008, 710997087345876993, 710844581445812225, 710833117892898816, 710658690886586372, 710609963652087808, 710588934686908417, 710296729921429505, 710283270106132480, 710272297844797440, 710269109699739648, 710153181850935296, 710140971284037632, 710117014656950272, 709918798883774466, 709901256215666688, 709852847387627521, 709566166965075968, 709556954897764353, 709519240576036864, 709449600415961088, 709409458133323776, 709225125749587968, 709207347839836162, 709198395643068416, 709179584944730112, 709158332880297985, 709042156699303936, 708853462201716736, 708845821941387268, 708834316713893888, 708810915978854401, 708738143638450176, 708711088997666817, 708479650088034305, 708469915515297792, 708400866336894977, 708356463048204288, 708349470027751425, 708149363256774660, 708130923141795840, 708119489313951744, 708109389455101952, 708026248782585858, 707995814724026368, 707983188426153984, 707969809498152960, 707776935007539200, 707741517457260545, 707738799544082433, 707693576495472641, 707629649552134146, 707610948723478529, 707420581654872064, 707411934438625280, 707387676719185920, 707377100785885184, 707315916783140866, 707297311098011648, 707059547140169728, 707038192327901184, 707021089608753152, 707014260413456384, 706904523814649856, 706901761596989440, 706681918348251136, 706644897839910912, 706593038911545345, 706538006853918722, 706516534877929472, 706346369204748288, 706310011488698368, 706291001778950144, 706265994973601792, 706169069255446529, 706166467411222528, 706153300320784384, 705975130514706432, 705970349788291072, 705898680587526145, 705786532653883392, 705591895322394625, 705475953783398401, 705442520700944385, 705428427625635840, 705239209544720384, 705223444686888960, 705102439679201280, 705066031337840642, 704871453724954624, 704859558691414016, 704847917308362754, 704819833553219584, 704761120771465216, 704499785726889984, 704491224099647488, 704480331685040129, 704364645503647744, 704347321748819968, 704134088924532736, 704113298707505153, 704054845121142784, 703774238772166656, 703769065844768768, 703631701117943808, 703611486317502464, 703425003149250560, 703407252292673536, 703382836347330562, 703356393781329922, 703268521220972544, 703079050210877440, 703041949650034688, 702932127499816960, 702899151802126337, 702684942141153280, 702671118226825216, 702598099714314240, 702539513671897089, 702332542343577600, 702321140488925184, 702276748847800320, 702217446468493312, 701981390485725185, 701952816642965504, 701889187134500865, 701805642395348998, 701601587219795968, 701570477911896070, 701545186879471618, 701214700881756160, 700890391244103680, 700864154249383937, 700847567345688576, 700796979434098688, 700747788515020802, 700518061187723268, 700505138482569216, 700462010979500032, 700167517596164096, 700151421916807169, 700143752053182464, 700062718104104960, 700029284593901568, 700002074055016451, 699801817392291840, 699788877217865730, 699779630832685056, 699775878809702401, 699691744225525762, 699446877801091073, 699434518667751424, 699423671849451520, 699413908797464576, 699370870310113280, 699323444782047232, 699088579889332224, 699079609774645248, 699072405256409088, 699060279947165696, 699036661657767936, 698989035503689728, 698953797952008193, 698907974262222848, 698710712454139905, 698703483621523456, 698635131305795584, 698549713696649216, 698355670425473025, 698342080612007937, 698262614669991936, 698195409219559425, 698178924120031232, 697995514407682048, 697990423684476929, 697943111201378304, 697881462549430272, 697630435728322560, 697616773278015490, 697596423848730625, 697575480820686848, 697516214579523584, 697482927769255936, 697463031882764288, 697270446429966336, 697259378236399616, 697255105972801536, 697242256848379904, 696900204696625153, 696894894812565505, 696886256886657024, 696877980375769088, 696754882863349760, 696744641916489729, 696713835009417216, 696518437233913856, 696490539101908992, 696488710901260288, 696405997980676096, 696100768806522880, 695816827381944320, 695794761660297217, 695767669421768709, 695629776980148225, 695446424020918272, 695409464418041856, 695314793360662529, 695095422348574720, 695074328191332352, 695064344191721472, 695051054296211456, 694925794720792577, 694905863685980160, 694669722378485760, 694356675654983680, 694352839993344000, 694342028726001664, 694329668942569472, 694206574471057408, 694183373896572928, 694001791655137281, 693993230313091072, 693942351086120961, 693647888581312512, 693644216740769793, 693642232151285760, 693629975228977152, 693622659251335168, 693590843962331137, 693582294167244802, 693486665285931008, 693280720173801472, 693267061318012928, 693262851218264065, 693231807727280129, 693155686491000832, 693109034023534592, 693095443459342336, 692919143163629568, 692905862751522816, 692901601640583168, 692894228850999298, 692828166163931137, 692752401762250755, 692568918515392513, 692535307825213440, 692530551048294401, 692423280028966913, 692417313023332352, 692187005137076224, 692158366030913536, 692142790915014657, 692041934689402880, 692017291282812928, 691820333922455552, 691793053716221953, 691756958957883396, 691675652215414786, 691483041324204033, 691459709405118465, 691444869282295808, 691416866452082688, 691321916024623104, 691096613310316544, 691090071332753408, 690989312272396288, 680055455951884288]

Arquivo id_json_errors.txt gravado com sucesso!

In [109]:
#transformando os arquivos json em lista
t_list = []

try:
    with open(tweet_dog) as file:
        for line in file:
            current_json = json.loads(line)
            tweet_id = current_json['id']
            retweet_count = current_json['retweet_count']
            favorite_count = current_json['favorite_count']
            t_list.append({'tweet_id': int(tweet_id),
                        'retweet_count': int(retweet_count),
                        'favorite_count': int(favorite_count)})
except FileNotFoundError as err:                         
    print("\nErro de I/O: {}".format(err))

df_tw = pd.DataFrame(t_list, columns = ['tweet_id', 'retweet_count', 'favorite_count'])

In [110]:
df_tw.head()

             tweet_id  retweet_count  favorite_count
0  892420643555336193           8290           37952
1  892177421306343426           6122           32592
2  891815181378084864           4054           24536
3  891689557279858688           8428           41293
4  891327558926688256           9130           39483

In [111]:
df_tw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1726 entries, 0 to 1725
Data columns (total 3 columns):
tweet_id          1726 non-null int64
retweet_count     1726 non-null int64
favorite_count    1726 non-null int64
dtypes: int64(3)
memory usage: 40.5 KB

In [112]:
df_tw.describe()

           tweet_id  retweet_count  favorite_count
count  1.726000e+03    1726.000000     1726.000000
mean   7.496680e+17    3179.696408     8784.256083
std    7.720814e+16    4920.995385    13044.492768
min    6.660209e+17       0.000000        0.000000
25%    6.740772e+17     495.250000      912.250000
50%    7.609492e+17    1568.500000     3156.000000
75%    8.196806e+17    3872.750000    12012.750000
max    8.924206e+17   60777.000000   140058.000000

# Limpeza

In [113]:
arquivo = df.copy()
image = df_im.copy()
tweet = df_tw.copy()

Definição:

vamos apagar os arquivos que não apresentem imagem, utilizaremos inner join

 Código

In [114]:
#limpar os arquivos id de tweet que não apresentam imagem associados
arquivo = pd.merge(arquivo, tweet, on=['tweet_id'])
arquivo = pd.merge(arquivo, image, on=['tweet_id'])

Teste

In [115]:
arquivo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1525 entries, 0 to 1524
Data columns (total 30 columns):
tweet_id                      1525 non-null int64
in_reply_to_status_id         14 non-null float64
in_reply_to_user_id           14 non-null float64
timestamp                     1525 non-null object
source                        1525 non-null object
text                          1525 non-null object
retweeted_status_id           70 non-null float64
retweeted_status_user_id      70 non-null float64
retweeted_status_timestamp    70 non-null object
expanded_urls                 1525 non-null object
rating_numerator              1525 non-null int64
rating_denominator            1525 non-null int64
name                          1525 non-null object
doggo                         1525 non-null object
floofer                       1525 non-null object
pupper                        1525 non-null object
puppo                         1525 non-null object
retweet_count                 1525 non-null int64
favorite_count                1525 non-null int64
jpg_url                       1525 non-null object
img_num                       1525 non-null int64
p1                            1525 non-null object
p1_conf                       1525 non-null float64
p1_dog                        1525 non-null bool
p2                            1525 non-null object
p2_conf                       1525 non-null float64
p2_dog                        1525 non-null bool
p3                            1525 non-null object
p3_conf                       1525 non-null float64
p3_dog                        1525 non-null bool
dtypes: bool(3), float64(7), int64(6), object(14)
memory usage: 338.1+ KB

Definição:

iremos deletar as colunas aos quais são desnecessárias.

Código

In [116]:
#eleiminar as colunas irrelevantes
arquivo.drop(['retweeted_status_id', 'retweeted_status_user_id', 'retweeted_status_timestamp'], axis = 1, inplace = True)

Teste

In [117]:
arquivo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1525 entries, 0 to 1524
Data columns (total 27 columns):
tweet_id                 1525 non-null int64
in_reply_to_status_id    14 non-null float64
in_reply_to_user_id      14 non-null float64
timestamp                1525 non-null object
source                   1525 non-null object
text                     1525 non-null object
expanded_urls            1525 non-null object
rating_numerator         1525 non-null int64
rating_denominator       1525 non-null int64
name                     1525 non-null object
doggo                    1525 non-null object
floofer                  1525 non-null object
pupper                   1525 non-null object
puppo                    1525 non-null object
retweet_count            1525 non-null int64
favorite_count           1525 non-null int64
jpg_url                  1525 non-null object
img_num                  1525 non-null int64
p1                       1525 non-null object
p1_conf                  1525 non-null float64
p1_dog                   1525 non-null bool
p2                       1525 non-null object
p2_conf                  1525 non-null float64
p2_dog                   1525 non-null bool
p3                       1525 non-null object
p3_conf                  1525 non-null float64
p3_dog                   1525 non-null bool
dtypes: bool(3), float64(5), int64(6), object(13)
memory usage: 302.3+ KB

Definição:

trocar a coluna timestamp de string para date

Código

In [118]:
#transformar a coluna timestamp de string em datetime
arquivo.timestamp = pd.to_datetime(arquivo.timestamp)

Teste

In [119]:
arquivo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1525 entries, 0 to 1524
Data columns (total 27 columns):
tweet_id                 1525 non-null int64
in_reply_to_status_id    14 non-null float64
in_reply_to_user_id      14 non-null float64
timestamp                1525 non-null datetime64[ns]
source                   1525 non-null object
text                     1525 non-null object
expanded_urls            1525 non-null object
rating_numerator         1525 non-null int64
rating_denominator       1525 non-null int64
name                     1525 non-null object
doggo                    1525 non-null object
floofer                  1525 non-null object
pupper                   1525 non-null object
puppo                    1525 non-null object
retweet_count            1525 non-null int64
favorite_count           1525 non-null int64
jpg_url                  1525 non-null object
img_num                  1525 non-null int64
p1                       1525 non-null object
p1_conf                  1525 non-null float64
p1_dog                   1525 non-null bool
p2                       1525 non-null object
p2_conf                  1525 non-null float64
p2_dog                   1525 non-null bool
p3                       1525 non-null object
p3_conf                  1525 non-null float64
p3_dog                   1525 non-null bool
dtypes: bool(3), datetime64[ns](1), float64(5), int64(6), object(12)
memory usage: 302.3+ KB

Definição:

iremos deletar a coluna boolean da tabela image já que apresenta duas colunas para indicar a nome da raça do cachorro, como também o código.

Código

In [120]:
#eliminar as colunas nas tabelas
image.drop(['p1_dog', 'p2_dog', 'p3_dog'], axis = 1, inplace = True)
arquivo.drop(['p1_dog', 'p2_dog', 'p3_dog'], axis = 1, inplace = True)

Teste

In [121]:
image.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 9 columns):
tweet_id    2075 non-null int64
jpg_url     2075 non-null object
img_num     2075 non-null int64
p1          2075 non-null object
p1_conf     2075 non-null float64
p2          2075 non-null object
p2_conf     2075 non-null float64
p3          2075 non-null object
p3_conf     2075 non-null float64
dtypes: float64(3), int64(2), object(4)
memory usage: 146.0+ KB

# Salvar dados limpos

In [122]:
#salvar arquivo limpo
arqlimpo = 'twitter_archive_master.csv'
arquivo.to_csv(arqlimpo, index= False)

In [123]:
df_l = pd.read_csv(arqlimpo)

In [124]:
df_l.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1525 entries, 0 to 1524
Data columns (total 24 columns):
tweet_id                 1525 non-null int64
in_reply_to_status_id    14 non-null float64
in_reply_to_user_id      14 non-null float64
timestamp                1525 non-null object
source                   1525 non-null object
text                     1525 non-null object
expanded_urls            1525 non-null object
rating_numerator         1525 non-null int64
rating_denominator       1525 non-null int64
name                     1525 non-null object
doggo                    1525 non-null object
floofer                  1525 non-null object
pupper                   1525 non-null object
puppo                    1525 non-null object
retweet_count            1525 non-null int64
favorite_count           1525 non-null int64
jpg_url                  1525 non-null object
img_num                  1525 non-null int64
p1                       1525 non-null object
p1_conf                  1525 non-null float64
p2                       1525 non-null object
p2_conf                  1525 non-null float64
p3                       1525 non-null object
p3_conf                  1525 non-null float64
dtypes: float64(5), int64(6), object(13)
memory usage: 286.0+ KB